* {
	margin: 0;
	padding: 0;
}
.gradebook {
	border: solid 1px black;
	display: flex;
}
.student {
	width: 200px;
	
}
.line {
	display: flex;
	gap: 2px;
	border: solid 1px black;
	height: 22px;
}

.linemark {
	overflow: hidden;
	display: flex;
}
input{
	width: 40px;
	height: 20px;
}
.aver{
	border: solid 1px black;
	display: flex;
	flex-direction: column;
}
.sr{
	display: flex;
	gap: 2px;
	border-top: solid 1px black;
	height: 22px;
	width: 50px;
}
.result{
	display: flex;
flex-direction: column;
}

/* 
::-webkit-scrollbar {
	width: 0;
} */

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	/* Для некоторых версий Safari */
	-webkit-user-select: none;
	/* Для некоторых версий Firefox */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}